In [1]:
import numpy as np 
import pandas as pd 
from bs4 import BeautifulSoup
import requests 
import json 
from pandas.io.json import json_normalize

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import geopy.geocoders

ImportError: No module named 'folium'

In [2]:
import numpy as np 
import pandas as pd 
from bs4 import BeautifulSoup
import requests 
import json 
from pandas.io.json import json_normalize

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import geopy.geocoders

In [3]:
import folium

ImportError: No module named 'folium'

In [4]:
# !conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium

ImportError: No module named 'folium'

In [5]:
df_toronto = pd.read_csv('toronto_base.csv')
df_toronto.head()

FileNotFoundError: File b'toronto_base.csv' does not exist

In [6]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import matplotlib.cm as cm
import matplotlib.colors as colors

In [7]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source ,'lxml')
table = soup.find('table',{'class':'wikitable sortable'})

In [8]:
header = table.tr.text
headers = header.split('\n')
headers = headers[1:len(headers)-1]
headers

['Postcode', 'Borough', 'Neighbourhood']

In [9]:
rows_list = []
rows = table.findAll('tr')
for row in rows:
    rows_list.append([cell.text.rstrip() for cell in row.findAll('td')])
rows_list = rows_list[1:]
rows_list[0:10]

[['M1A', 'Not assigned', 'Not assigned'],
 ['M2A', 'Not assigned', 'Not assigned'],
 ['M3A', 'North York', 'Parkwoods'],
 ['M4A', 'North York', 'Victoria Village'],
 ['M5A', 'Downtown Toronto', 'Harbourfront'],
 ['M5A', 'Downtown Toronto', 'Regent Park'],
 ['M6A', 'North York', 'Lawrence Heights'],
 ['M6A', 'North York', 'Lawrence Manor'],
 ['M7A', "Queen's Park", 'Not assigned'],
 ['M8A', 'Not assigned', 'Not assigned']]

In [10]:
:
import copy
row_list_copy = copy.deepcopy(rows_list)
for sample_row in row_list_copy:
    if sample_row[-1] == 'Not assigned':
        if sample_row[1] != 'Not assigned':
            sample_row[-1] = sample_row[1]
final_list = row_list_copy
row_list_copy[0:10]

SyntaxError: invalid syntax (<ipython-input-10-488f61531d5f>, line 1)

In [11]:
import copy
row_list_copy = copy.deepcopy(rows_list)
for sample_row in row_list_copy:
    if sample_row[-1] == 'Not assigned':
        if sample_row[1] != 'Not assigned':
            sample_row[-1] = sample_row[1]
final_list = row_list_copy
row_list_copy[0:10]

[['M1A', 'Not assigned', 'Not assigned'],
 ['M2A', 'Not assigned', 'Not assigned'],
 ['M3A', 'North York', 'Parkwoods'],
 ['M4A', 'North York', 'Victoria Village'],
 ['M5A', 'Downtown Toronto', 'Harbourfront'],
 ['M5A', 'Downtown Toronto', 'Regent Park'],
 ['M6A', 'North York', 'Lawrence Heights'],
 ['M6A', 'North York', 'Lawrence Manor'],
 ['M7A', "Queen's Park", "Queen's Park"],
 ['M8A', 'Not assigned', 'Not assigned']]

In [12]:
rows_list[8]

['M7A', "Queen's Park", 'Not assigned']

In [13]:
df_temp = pd.DataFrame(final_list,columns = headers)
df_temp.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights
7      M6A        North York    Lawrence Manor
8      M7A      Queen's Park      Queen's Park
9      M8A      Not assigned      Not assigned

In [14]:
Borough_filter = df_temp.Borough == 'Not assigned'
Borough_filter[:10]

0     True
1     True
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9     True
Name: Borough, dtype: bool

In [15]:
df = df_temp[~Borough_filter]
df.sort_values(by='Postcode').head(10)

   Postcode      Borough   Neighbourhood
11      M1B  Scarborough           Rouge
12      M1B  Scarborough         Malvern
29      M1C  Scarborough      Port Union
28      M1C  Scarborough      Rouge Hill
27      M1C  Scarborough  Highland Creek
42      M1E  Scarborough       Guildwood
43      M1E  Scarborough     Morningside
44      M1E  Scarborough       West Hill
53      M1G  Scarborough          Woburn
62      M1H  Scarborough       Cedarbrae

In [16]:
len(df.Postcode.unique())

103

In [17]:
!conda install -c conda-forge geocoder --yes

Fetching package metadata .............
Solving package specifications: .

Package plan for installation in environment /opt/conda/envs/DSX-Python35:

The following NEW packages will be INSTALLED:

    geocoder:   1.38.1-py_0  conda-forge
    orderedset: 2.0-py35_0   conda-forge
    ratelim:    0.1.6-py35_0 conda-forge

orderedset-2.0 100% |################################| Time: 0:00:00  53.43 MB/s
ratelim-0.1.6- 100% |################################| Time: 0:00:00  10.69 MB/s
geocoder-1.38. 100% |################################| Time: 0:00:00  45.06 MB/s

In [18]:
import geocoder

In [19]:
df2.sort_values(by='Postcode').head()

NameError: name 'df2' is not defined

In [20]:
df2.sort_values(by='Postcode').head()

NameError: name 'df2' is not defined

In [21]:
df2 = df.groupby('Postcode').agg({'Borough':'first',
                               'Neighbourhood': ', '.join}).reset_index()

In [22]:
df2.sort_values(by='Postcode').head()

  Postcode                           Neighbourhood      Borough
0      M1B                          Rouge, Malvern  Scarborough
1      M1C  Highland Creek, Rouge Hill, Port Union  Scarborough
2      M1E       Guildwood, Morningside, West Hill  Scarborough
3      M1G                                  Woburn  Scarborough
4      M1H                               Cedarbrae  Scarborough

In [23]:
len(df2.Postcode.unique())

103

In [24]:
!conda install -c conda-forge geocoder --yes

Fetching package metadata .............
Solving package specifications: .

# All requested packages already installed.
# packages in environment at /opt/conda/envs/DSX-Python35:
#
geocoder                  1.38.1                     py_0    conda-forge

In [25]:
import geocoder

In [26]:
df2.sort_values(by='Postcode').head()

  Postcode                           Neighbourhood      Borough
0      M1B                          Rouge, Malvern  Scarborough
1      M1C  Highland Creek, Rouge Hill, Port Union  Scarborough
2      M1E       Guildwood, Morningside, West Hill  Scarborough
3      M1G                                  Woburn  Scarborough
4      M1H                               Cedarbrae  Scarborough

In [27]:
path="http://cocl.us/Geospatial_data"
coordinate_data = pd.read_csv(path,header=None)
print("Done")

Done

In [28]:
type(coordinate_data)

pandas.core.frame.DataFrame

In [29]:
coordinate_data.head()

             0           1            2
0  Postal Code    Latitude    Longitude
1          M1B  43.8066863  -79.1943534
2          M1C  43.7845351  -79.1604971
3          M1E  43.7635726  -79.1887115
4          M1G  43.7709921  -79.2169174

In [30]:
coordinate_data.columns = ['Postcode', 'Latitude', 'Longitude']
coordinate_data.head()

      Postcode    Latitude    Longitude
0  Postal Code    Latitude    Longitude
1          M1B  43.8066863  -79.1943534
2          M1C  43.7845351  -79.1604971
3          M1E  43.7635726  -79.1887115
4          M1G  43.7709921  -79.2169174

In [31]:
len(coordinate_data.Postcode.unique())

104

In [32]:
coordinate_data.sort_values(by='Postcode').head()

  Postcode    Latitude    Longitude
1      M1B  43.8066863  -79.1943534
2      M1C  43.7845351  -79.1604971
3      M1E  43.7635726  -79.1887115
4      M1G  43.7709921  -79.2169174
5      M1H   43.773136  -79.2394761

In [33]:
merged_data = df2.merge(coordinate_data,on = 'Postcode')
merged_data2 = df.merge(coordinate_data,on = 'Postcode')

In [34]:
merged_data = merged_data.sort_values(by='Postcode')

In [35]:
merged_data.head(10)

,Postcode,Neighbourhood,Borough,Latitude,Longitude
0,M1B,"Rouge, Malvern",Scarborough,43.8066863,-79.1943534
1,M1C,"Highland Creek, Rouge Hill, Port Union",Scarborough,43.7845351,-79.1604971
2,M1E,"Guildwood, Morningside, West Hill",Scarborough,43.7635726,-79.1887115
3,M1G,Woburn,Scarborough,43.7709921,-79.2169174
4,M1H,Cedarbrae,Scarborough,43.773136,-79.2394761
5,M1J,Scarborough Village,Scarborough,43.7447342,-79.2394761
6,M1K,"East Birchmount Park, Ionview, Kennedy Park",Scarborough,43.7279292,-79.2620294
7,M1L,"Clairlea, Golden Mile, Oakridge",Scarborough,43.7111117,-79.2845772
8,M1M,"Cliffcrest, Cliffside, Scarborough Village West",Scarborough,43.716316,-79.2394761
9,M1N,"Birch Cliff, Cliffside West",Scarborough,43.692657,-79.2648481

In [36]:
merged_data.Borough.unique()

array(['Scarborough', 'North York', 'East York', 'East Toronto',
       'Central Toronto', 'Downtown Toronto', 'York', 'West Toronto',
       "Queen's Park", 'Mississauga', 'Etobicoke'], dtype=object)

In [37]:
merged_data2 = merged_data2.sort_values(by='Postcode')
merged_data2.head()

   Postcode      Borough   Neighbourhood    Latitude    Longitude
8       M1B  Scarborough           Rouge  43.8066863  -79.1943534
9       M1B  Scarborough         Malvern  43.8066863  -79.1943534
23      M1C  Scarborough      Port Union  43.7845351  -79.1604971
22      M1C  Scarborough      Rouge Hill  43.7845351  -79.1604971
21      M1C  Scarborough  Highland Creek  43.7845351  -79.1604971

In [38]:
filter_ = merged_data2.Borough.str.contains('Toronto')
toronto_df = merged_data2[filter_]
toronto_df.head()

   Postcode       Borough      Neighbourhood    Latitude    Longitude
36      M4E  East Toronto        The Beaches  43.6763574  -79.2930312
72      M4K  East Toronto  The Danforth West  43.6795571   -79.352188
73      M4K  East Toronto          Riverdale  43.6795571   -79.352188
85      M4L  East Toronto   The Beaches West  43.6689985  -79.3155716
86      M4L  East Toronto       India Bazaar  43.6689985  -79.3155716

# Create a Map of Toronto City

In [39]:
toronto_latitude = 43.6932; toronto_longitude = -79.3832
map_toronto = folium.Map(location = [toronto_latitude, toronto_longitude], zoom_start = 10.7)

for lat, lng, borough, neighborhood in zip(df_toronto['Latitude'], df_toronto['Longitude'], df_toronto['Borough'], df_toronto['Neighbourhood']):
    label = '{}, {}'.format(neighborhood, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7).add_to(map_toronto)  
    

map_toronto

NameError: name 'folium' is not defined

In [40]:
import folium

ImportError: No module named 'folium'

In [41]:
scarborough_data = df_toronto[df_toronto['Borough'] == 'Scarborough']
scarborough_data = scarborough_data.reset_index(drop=True).drop(columns = 'Unnamed: 0')
scarborough_data.head()

NameError: name 'df_toronto' is not defined

In [42]:
filter_ = merged_data2.Borough.str.contains('Toronto')
toronto_df = merged_data2[filter_]
toronto_df.head()

   Postcode       Borough      Neighbourhood    Latitude    Longitude
36      M4E  East Toronto        The Beaches  43.6763574  -79.2930312
72      M4K  East Toronto  The Danforth West  43.6795571   -79.352188
73      M4K  East Toronto          Riverdale  43.6795571   -79.352188
85      M4L  East Toronto   The Beaches West  43.6689985  -79.3155716
86      M4L  East Toronto       India Bazaar  43.6689985  -79.3155716

In [43]:
scarborough_data = df_toronto[df_toronto['Borough'] == 'Scarborough']
scarborough_data = scarborough_data.reset_index(drop=True).drop(columns = 'Unnamed: 0')
scarborough_data.head()

NameError: name 'df_toronto' is not defined

In [44]:
filter_ = merged_data2.Borough.str.contains('Toronto')
toronto_df = merged_data2[filter_]
toronto_df.head()

   Postcode       Borough      Neighbourhood    Latitude    Longitude
36      M4E  East Toronto        The Beaches  43.6763574  -79.2930312
72      M4K  East Toronto  The Danforth West  43.6795571   -79.352188
73      M4K  East Toronto          Riverdale  43.6795571   -79.352188
85      M4L  East Toronto   The Beaches West  43.6689985  -79.3155716
86      M4L  East Toronto       India Bazaar  43.6689985  -79.3155716

In [45]:
filter_ = merged_data2.Borough.str.contains('Toronto')
df_toronto = merged_data2[filter_]
df_toronto.head()

   Postcode       Borough      Neighbourhood    Latitude    Longitude
36      M4E  East Toronto        The Beaches  43.6763574  -79.2930312
72      M4K  East Toronto  The Danforth West  43.6795571   -79.352188
73      M4K  East Toronto          Riverdale  43.6795571   -79.352188
85      M4L  East Toronto   The Beaches West  43.6689985  -79.3155716
86      M4L  East Toronto       India Bazaar  43.6689985  -79.3155716

# Create a Map of East Toronto

In [52]:
address_easttor = 'East Toronto'
latitude_easttor = 43.773077
longitude_easttor = -79.257774
print('The geograpical coordinate of "East Toronto" are: {43.773077}, {-79.257774}.')

The geograpical coordinate of "East Toronto" are: {43.773077}, {-79.257774}.